USE [master]
GO
/****** Object:  Database [foodix]    Script Date: 05/15/2019 20:10:24 ******/
CREATE DATABASE [foodix] ON  PRIMARY 
( NAME = N'foodix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\foodix.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'foodix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\foodix_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [foodix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [foodix]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 05/15/2019 20:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[name] [nvarchar](max) NULL,
	[cell] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[cnic] [nvarchar](max) NULL,
	[products] [nvarchar](max) NULL,
	[amount] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[att]    Script Date: 05/15/2019 20:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[att](
	[tom] [nvarchar](max) NULL,
	[john] [nvarchar](max) NULL,
	[alex] [nvarchar](max) NULL,
	[michel] [nvarchar](max) NULL,
	[mark] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
